# Dependencies
node_modules/
backend/venv/
venv/
__pycache__/
*.pyc

# Build outputs
frontend/dist/
dist/
build/

# Environment and Local DB
.env
*.sqlite3

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
