SECRET_KEY=django-insecure-mindlap-secret-key-production-ready-2026-safe!
DEBUG=True
DB_ENGINE=django.db.backends.postgresql
DB_NAME=mindlap_db
DB_USER=mindlap_user
DB_PASSWORD=mindlap_secure_password_2026
DB_HOST=localhost
DB_PORT=5432
